<nav>
    <div class="main-header">
        <div class="logo" *ngFor="let img of bodyImgService">
            <img src="{{img.img1}}" alt="">
        </div>
        <ul class="nav-link">
            <li class="nav-item" (click)="redirectTo('home')">Home</li>
            <li class="nav-item" (click)="redirectTo('about')">About</li>
            <li class="nav-item" (click)="redirectTo('service')">Service</li>
            <li class="nav-item" (click)="redirectTo('about')">Blog</li>
            <li class="nav-item" (click)="redirectTo('contact')">Contact</li>
        </ul>
        <div class="lang">
            <div style="font-weight: bold;font-size: 16px;cursor: pointer;" (click)="switchLanguage('en')">En</div>
            <div style="height:20px;width: 1px;background-color: #000;"></div>
            <div style="font-weight: bold;font-size: 16px;cursor: pointer;" (click)="switchLanguage('hi')">Hi</div>
        </div>
    </div>
</nav>


<!-- resp-header  -->
<div class="resp-logo">
    <div class="logo" *ngFor="let img of bodyImgService">
        <img src="{{img.img1}}" alt="">
    </div>

    <div class="lang">
        <div style="font-weight: bold;font-size: 16px;" (click)="switchLanguage('en')">En</div>
        <div style="height:20px;width: 1px;background-color: #000;"></div>
        <div style="font-weight: bold;font-size: 16px;" (click)="switchLanguage('hi')">Hi</div>
    </div>
</div>
<!-- resp-header  -->